#homepage_slider img {
  width: 100%;
}
#homepage_slider .owl-item {
  float: left;
}
#homepage_slider .owl-wrapper:before,
#homepage_slider .owl-wrapper:after {
  content: '';
  display: table;
}
#homepage_slider .owl-wrapper:after {
  clear: both;
}
#homepage_slider.owl-theme .owl-buttons {
  margin: 0;
}
#homepage_slider.owl-theme .owl-buttons > div {
  -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -ms-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: 15%;
  height: 100%;
  top: 0;
  font-size: 30px;
  font-family: 'Montserrat';
  background: none;
  border-radius: 0;
  border: none;
  padding: 0;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  transition: opacity 300ms;
}
#homepage_slider.owl-theme .owl-buttons > div:hover {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  -ms-opacity: 0.9;
  opacity: 0.9;
}
#homepage_slider.owl-theme .owl-buttons > div:before {
  font-size: 30px;
  font-family: 'Montserrat';
  line-height: 50px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#homepage_slider.owl-theme .owl-buttons > div.owl-prev {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  left: 0;
  padding-right: 40px;
}
#homepage_slider.owl-theme .owl-buttons > div.owl-prev:before {
  content: "‹";
}
#homepage_slider.owl-theme .owl-buttons > div.owl-next {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  right: 0;
  padding-left: 40px;
}
#homepage_slider.owl-theme .owl-buttons > div.owl-next:before {
  content: "›";
}
#homepage_slider.owl-theme .owl-pagination {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 10;
  padding-bottom: 10px;
  text-align: center;
}
#homepage_slider.owl-theme .owl-pagination .owl-page {
  display: inline-block;
  vertical-align: middle;
}
#homepage_slider.owl-theme .owl-pagination .owl-page span {
  border: 1px solid #fff;
  margin: 5px;
  width: 10px;
  height: 10px;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#homepage_slider.owl-theme .owl-pagination .owl-page.active span {
  background: #fff;
}
#homepage_slider.owl-theme .owl-pagination .owl-page:not(.active) span {
  background: none;
}
@media (max-width: 767px) {
  #homepage_slider.owl-theme .owl-pagination {
    display: none;
  }
}
@media (max-width: 320px) {
  #homepage_slider .owl-item {
    margin: 0;
  }
}
.new-owl-carousel {
  position: relative;
}
.new-owl-carousel .owl-item {
  float: left;
  padding: 0 7px;
  position: relative;
}
.new-owl-carousel .carousel__item {
  text-align: center;
  padding: 15px;
}
.new-owl-carousel .carousel__item.has-reg-price .product-price {
  margin-top: 37px;
}
.new-owl-carousel .carousel__item .product-title {
  height: 30px;
  overflow: hidden;
}
.new-owl-carousel.owl-theme .owl-buttons {
  margin: 0;
}
.new-owl-carousel.owl-theme .owl-buttons > div {
  top: 50%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.new-owl-carousel.owl-theme .owl-buttons > div.owl-prev,
.new-owl-carousel.owl-theme .owl-buttons > div.owl-next {
  font-family: 'Montserrat';
  font-size: 40px;
  color: #dc1e0f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  width: 35px;
  line-height: 50px;
  height: 50px;
  overflow: hidden;
  -webkit-transition: text-shadow 500ms;
  -moz-transition: text-shadow 500ms;
  -ms-transition: text-shadow 500ms;
  transition: text-shadow 500ms;
}
.new-owl-carousel.owl-theme .owl-buttons > div.owl-prev.disabled,
.new-owl-carousel.owl-theme .owl-buttons > div.owl-next.disabled {
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  -ms-opacity: 0.1;
  opacity: 0.1;
}
.new-owl-carousel.owl-theme .owl-buttons > div.owl-prev:before,
.new-owl-carousel.owl-theme .owl-buttons > div.owl-next:before {
  font-family: inherit;
}
.new-owl-carousel.owl-theme .owl-buttons > div.owl-prev:hover,
.new-owl-carousel.owl-theme .owl-buttons > div.owl-next:hover {
  color: #dc1e0f;
  -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -ms-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.new-owl-carousel.owl-theme .owl-buttons > div.owl-prev {
  margin-left: -30px;
  text-align: left;
  left: 0;
}
.new-owl-carousel.owl-theme .owl-buttons > div.owl-prev:before {
  content: "‹";
}
.new-owl-carousel.owl-theme .owl-buttons > div.owl-next {
  margin-right: -30px;
  text-align: right;
  right: 0;
}
.new-owl-carousel.owl-theme .owl-buttons > div.owl-next:before {
  content: "›";
}
.new-owl-carousel.owl-theme .owl-buttons [class*=owl-]:hover {
  background: none;
}
.new-owl-carousel.owl-theme .owl-pagination {
  margin-top: 10px;
}
.new-owl-carousel.owl-theme .owl-pagination .owl-page span {
  margin: 5px;
}
.new-owl-carousel.owl-theme .owl-pagination .owl-page.active span {
  background-color: #DC1E0F;
}
@media (max-width: 767px) {
  .carousel__component .new-owl-carousel.owl-theme .owl-buttons > div.owl-prev {
    text-align: right;
    padding-right: 15px;
  }
  .carousel__component .new-owl-carousel.owl-theme .owl-buttons > div.owl-prev span {
    margin-left: -25px;
  }
  .carousel__component .new-owl-carousel.owl-theme .owl-buttons > div.owl-next {
    text-align: left;
    padding-left: 15px;
  }
  .carousel__component .new-owl-carousel.owl-theme .owl-buttons > div.owl-next span {
    padding-left: 10px;
    padding-right: 0;
    margin-left: 0;
  }
  .new-owl-carousel .carousel__item .product-title {
    height: 10px;
  }
}
@media (max-width: 320px) {
  .new-owl-carousel .owl-item {
    margin: 0;
  }
}
.carousel__component .new-owl-carousel .owl-item .item {
  border: 1px solid #ccc;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  -ms-transition: border-color 300ms;
  transition: border-color 300ms;
  position: relative;
}
.carousel__component .new-owl-carousel .owl-item .item:hover {
  border-color: grey;
}
.carousel__component .new-owl-carousel .owl-wrapper-outer {
  padding-left: 1px;
  padding-right: 1px;
  overflow: hidden;
}
.carousel__component .new-owl-carousel .owl-wrapper-outer .owl-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.new-owl-carousel.owl-theme .owl-buttons {
  margin-top: 0;
}
.new-owl-carousel.owl-theme .owl-buttons > div {
  position: absolute;
  z-index: 10;
  margin: 0;
}
.new-owl-carousel.owl-theme .owl-buttons > div.owl-prev {
  left: 0;
}
.new-owl-carousel.owl-theme .owl-buttons > div.owl-next {
  right: 0;
}
.new-owl-carousel.owl-theme .owl-pagination .owl-page {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}
@media (min-width: 768px) {
  .carousel__component {
    padding: 0 25px;
  }
}
